.about {
    padding-bottom: 2rem;


    &__bio-image {
        height: 50vh;
        width: 100%;
        background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.1)
        ),
        url('../img/about.svg') center top;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p {
            margin-bottom: 2rem;

        }
    }


    &__bio {
        width: 80%;
        text-align: center;
        font-size: 25px;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .skills {
          width: 60vw;
          margin: 2rem auto 0 auto;
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 2rem;

           &__skill {
               background: lighten($primary-color, 10%);
               padding: 0.5rem;
               border-bottom: 5px solid $secondary-color;

               h3 {
                   margin: 0.5rem 0;
               }
           }
        
          }
    }
